
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", sans-serif;
    background-color: #f8f9fa;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.header {
    background-color: crimson;
    color: white;
    padding: 30px;
    width: 100%;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 15px 15px;
}


.content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    width: 90%;
    max-width: 400px;
}


.checkbox-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}


.checkbox-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin: 5px 0;
    cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
}


#selected-genres {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}


.start-btn {
    background-color: crimson;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

.start-btn:hover {
    background-color: darkred;
}


@media (max-width: 600px) {
    .content {
        width: 90%;
    }
}
